<div class="banner_box over">
    <ul class="banner_img bd">
        <li><a><img src="/cms_data/sites/wuyou/themes/default/images/banner.png" /></a></li>
        <li><a><img src="/cms_data/sites/wuyou/themes/default/images/banner.png" /></a></li>
        <li><a><img src="/cms_data/sites/wuyou/themes/default/images/banner.png" /></a></li>
    </ul>
    <ul class="banner_yuan over hd">
        <li class="on fl"></li>
        <li class="fl"></li>
        <li class="fl"></li>
    </ul>
    <div class="login_box">
        <div class="login_tab">
            <a>登陆</a>
        </div>
        <div class="login_input">
            <input type="text" placeholder="请输入手机号码" />
        </div>
        <div class="login_input login_input_2 over">
            <input class="fl text" type="text" placeholder="请输入手机验证码" />
            <input type="button" class="fl button" href="javascript:void(0);" id="btn" value="获取" />
        </div>
        <div class="over checked_box">
            <a class="fl checked_button"></a><p class="fl checked_text">已阅读<a href="">本网站协议</a></p>
        </div>
        <a class="login_button">加入我们</a>
    </div>
</div>

<!--交易合计-->
<div class="w_100 jiaoyi_box">
    <div class="w_1200">
        <p class="jiaoyi_zonger fl"><span>交易总额：</span>¥8916777.83</p>
        <div class="fl jiaoyi_text">
            <img src="/cms_data/sites/wuyou/themes/default/images/qiandai.png" class="fl" />
            <div class="fl">
                <p>本月佣金：¥177.71万</p>
                <p>本日佣金：¥59667.66</p>
            </div>
        </div>
        <div class="fl jiaoyi_text">
            <img src="/cms_data/sites/wuyou/themes/default/images/ren.png" class="fl" />
            <div class="fl">
                <p>优化师数：13952名</p>
                <p>本日佣金：34031名</p>
            </div>
        </div>
        <div class="fl jiaoyi_text">
            <img src="/cms_data/sites/wuyou/themes/default/images/bingtu.png" class="fl" />
            <div class="fl">
                <p>网站数：&nbsp;&nbsp;&nbsp;17276个</p>
                <p>关键词数：72520个</p>
            </div>
        </div>
        <a class="jiaoyi_button fr">前往任务大厅</a>
    </div>
</div>

<!--公告-->
<div class="gonggao over w_1200">
    <img src="/cms_data/sites/wuyou/themes/default/images/gonggao.png" class="fl" />
    <p>zha**先生/女生成功发布洗涤设备、二手洗涤设备、洗涤设备厂家、洗衣机、洗衣店…等15个关键词<span>09-12 14:45</span></p>
</div>
<!--经典案例-->
<div class="w_1200 anli_box over">
    <div class="anli_tubiao fl">
        <div class="all_tubiao_po">
            <img src="/cms_data/sites/wuyou/themes/default/images/anli_tubiao.png" />
            <span>经典案例</span>
        </div>
    </div>
    <div class="fl anli_text">
        <h4>www.yabsw.com</h4>
        <p class="over">
            <span class="fl">加热器</span>
            <span class="fl">第一页</span>
            <span class="fr">百度</span>
        </p>
        <p class="over">
            <span class="fl">加热器</span>
            <span class="fl">第一页</span>
            <span class="fr">百度</span>
        </p>
        <p class="over">
            <span class="fl">加热器</span>
            <span class="fl">第一页</span>
            <span class="fr">百度</span>
        </p>
    </div>
    <div class="fl anli_text">
        <h4>www.yabsw.com</h4>
        <p class="over">
            <span class="fl">加热器</span>
            <span class="fl">第一页</span>
            <span class="fr">百度</span>
        </p>
        <p class="over">
            <span class="fl">加热器</span>
            <span class="fl">第一页</span>
            <span class="fr">百度</span>
        </p>
        <p class="over">
            <span class="fl">加热器</span>
            <span class="fl">第一页</span>
            <span class="fr">百度</span>
        </p>
    </div>
    <div class="fl anli_text">
        <h4>www.yabsw.com</h4>
        <p class="over">
            <span class="fl">加热器</span>
            <span class="fl">第一页</span>
            <span class="fr">百度</span>
        </p>
        <p class="over">
            <span class="fl">加热器</span>
            <span class="fl">第一页</span>
            <span class="fr">百度</span>
        </p>
        <p class="over">
            <span class="fl">加热器</span>
            <span class="fl">第一页</span>
            <span class="fr">百度</span>
        </p>
    </div>
    <div class="gonggao_box fr">
        <div class="gonggao_tab over">
            <a class="fl style" href="javascript:void(0);">公告</a>
            <a class="fl" href="javascript:void(0);">本站规则</a>
            <a class="fl" href="javascript:void(0);">佣金支付</a>
        </div>
        <div class="gonggao_text">
            <ul>
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-28</span></li>
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-28</span></li>
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-28</span></li>
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-28</span></li>
            </ul>
            <ul style="display:none;">
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-29</span></li>
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-28</span></li>
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-28</span></li>
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-28</span></li>
            </ul>
            <ul style="display:none;">
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-30</span></li>
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-28</span></li>
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-28</span></li>
                <li class="over">迎接杭州G2O峰会本站放假<span class="fr">2016-09-28</span></li>
            </ul>
        </div>
    </div>
</div>

<!--banner轮播-->
<div class="banner2_box w_1200">
    <ul class="banner2_img bd">
        <li><img src="/cms_data/sites/wuyou/themes/default/images/banner_2.png" /></li>
        <li><img src="/cms_data/sites/wuyou/themes/default/images/banner_2.png" /></li>
        <li><img src="/cms_data/sites/wuyou/themes/default/images/banner_2.png" /></li>
    </ul>
    <ul class="banner2_button over hd">
        <li class="fl on">什么叫按天收费</li>
        <li class="fl">我们的优势</li>
        <li class="fl">五大创新革命</li>
    </ul>
</div>

<!--按天收费-->
<div class="w_1200 shoufei_box">
    <div class="fl">
        <h4 class="shoufei_biaoti">按天收费</h4>
        <ul class="shoufei_nav over">
            <li class="fuzhuang style"><a href="javascript:void(0);"><b class="fl"></b>服装鞋帽</a></li>
            <li class="lipin"><a href="javascript:void(0);"><b class="fl"></b>礼品服饰</a></li>
            <li class="guangbo"><a href="javascript:void(0);"><b class="fl"></b>广播通信</a></li>
            <li class="guanggao"><a href="javascript:void(0);"><b class="fl"></b>广告及包装</a></li>
            <li class="wangluo"><a href="javascript:void(0);"><b class="fl"></b>网络服务</a></li>
            <li class="huagong"><a href="javascript:void(0);"><b class="fl"></b>化工及材料</a></li>
            <li class="jixie"><a href="javascript:void(0);"><b class="fl"></b>机械设备</a></li>
            <li class="jianzhu"><a href="javascript:void(0);"><b class="fl"></b>建筑及装饰</a></li>
            <li class="jiaotong"><a href="javascript:void(0);"><b class="fl"></b>交通运输</a></li>
            <li class="jiaoyu"><a href="javascript:void(0);"><b class="fl"></b>教育培训</a></li>
        </ul>
    </div>
    <div class="fl demo_box">
        <ul class="over">
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
            <li class="fl zx_xiadan">
                <a class="button" href="">在线下单</a>
                <div class="lianxi over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/lianxi_tubiao.png" class="fl" />
                    <p class="fl">7X24小时服务热线<b>0591-88886666</b></p>
                </div>
            </li>
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
        </ul>

        <ul class="over" style="display:none;">
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
        </ul>

        <ul class="over" style="display:none;">
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
        </ul>

        <ul class="over" style="display:none;">
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
        </ul>

        <ul class="over" style="display:none;">
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
        </ul>

        <ul class="over" style="display:none;">
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
        </ul>

        <ul class="over" style="display:none;">
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
        </ul>

        <ul class="over" style="display:none;">
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
        </ul>

        <ul class="over" style="display:none;">
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
        </ul>

        <ul class="over" style="display:none;">
            <li class="fl">
                <div class="demo_top over">
                    <img src="/cms_data/sites/wuyou/themes/default/images/baidu.png" class="fl" />
                    <span class="fr">09-21 17:21</span>
                </div>
                <div class="demo_text over">
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p>慈溪工作服<span class="fr"><b>4元</b>/天</span></p>
                    <p><span class="fr">共<b>4</b>个关键字</span></p>
                </div>
                <div class="demo_button">
                    <span class="fl"><b>31</b>人竞标</span>
                    <a class="fr" href="javascript:void(0);">马上参与</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--步骤banner-->
<div class="w_1200 mt_10"><img src="/cms_data/sites/wuyou/themes/default/images/buzou_banner.png" class="w_100" /></div>

<!--seo优化-->
<div class="w_1200 seo_box mt_10 over">
    <div class="seo_tubiao fl">
        <div class="all_tubiao_po">
            <img src="/cms_data/sites/wuyou/themes/default/images/seo_tubiao.png" />
            <span>SEO优化</span>
        </div>
        <a class="fr" href="">更多>></a>
    </div>
    <div class="seo_text fl">
        <ul class="over">
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
            <li class="fl">
                <p>排泄车,不间断电源车,UPS车,,不间断电源车,UPS车,排断…</p>
                <span>133****发布 <b>1</b>投标</span>
            </li>
        </ul>
    </div>

    <div class="seo_button fr">
        <p>14000家专业推广团队，已圆满解决<span><b class="fl">3000</b>个交易</span></p>
        <a href="">立刻发布需求</a>
        <img src="/cms_data/sites/wuyou/themes/default/images/seo_button_text.png" class="mt_10" />
    </div>
</div>

<!--建站banner-->
<div class="w_1200"><img src="/cms_data/sites/wuyou/themes/default/images/jianzhan_banner.png" class="w_100 mt_10" /></div>

<!--建站模板-->
<div class="w_1200 mt_10 over">
    <div class="jianzhan_tubiao fl">
        <div class="all_tubiao_po">
            <img src="/cms_data/sites/wuyou/themes/default/images/jianzhan_tubiao.png" />
            <span>建站模板</span>
        </div>
        <a class="fr" href="">更多>></a>
    </div>
    <div class="fl jianzhan_moban">
        <div class="moban_sekuai over"><img src="/cms_data/sites/wuyou/themes/default/images/sekuai.png" /></div>
        <div class="mokuai_img_box">
            <a class="prev" href="javascript:void(0);"></a>
            <a class="next" href="javascript:void(0);"></a>
            <ul class="moban_img over bd">
                <li class="fl"><img src="/cms_data/sites/wuyou/themes/default/images/tab_banner.png" /></li>
                <li class="fl"><img src="/cms_data/sites/wuyou/themes/default/images/tab_banner.png" /></li>
                <li class="fl"><img src="/cms_data/sites/wuyou/themes/default/images/tab_banner.png" /></li>
                <li class="fl"><img src="/cms_data/sites/wuyou/themes/default/images/tab_banner.png" /></li>
                <li class="fl"><img src="/cms_data/sites/wuyou/themes/default/images/tab_banner.png" /></li>
                <li class="fl"><img src="/cms_data/sites/wuyou/themes/default/images/tab_banner.png" /></li>
            </ul>
        </div>
    </div>
    <div class="suoshu_button fr">
        <p>所属行业<a class="fr">更多>></a></p>
        <ul>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
            <li class="fl"><a>机械设备</a></li>
        </ul>
    </div>
</div>

<!--知名优化师-->
<div class="w_1200 over mt_10">
    <div class="youhuashi_tubiao fl">
        <div class="all_tubiao_po">
            <img src="/cms_data/sites/wuyou/themes/default/images/youhuashi_tubiao.png" />
            <span>知名优化师</span>
        </div>
    </div>
    <div class="youhuashi_box fl">
        <ul class="over">
            <li class="fl">
                <img src="/cms_data/sites/wuyou/themes/default/images/touxiang.png" class="touxiang" />
                <span class="name_class over"><b>骷髅架</b></span>
                <p>接单数：295</p>
                <p>
                    客户好评率：
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing_2.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                </p>
                <p class="text">三年优化经验！熟悉各大搜索引擎排名机制。优势：1.原创+…</p>
            </li>
            <li class="fl">
                <img src="/cms_data/sites/wuyou/themes/default/images/touxiang.png" class="touxiang" />
                <span class="name_class over"><b>骷髅架</b></span>
                <p>接单数：295</p>
                <p>
                    客户好评率：
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing_2.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                </p>
                <p class="text">三年优化经验！熟悉各大搜索引擎排名机制。优势：1.原创+…</p>
            </li>
            <li class="fl">
                <img src="/cms_data/sites/wuyou/themes/default/images/touxiang.png" class="touxiang" />
                <span class="name_class over"><b>骷髅架</b></span>
                <p>接单数：295</p>
                <p>
                    客户好评率：
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing_2.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                </p>
                <p class="text">三年优化经验！熟悉各大搜索引擎排名机制。优势：1.原创+…</p>
            </li>
            <li class="fl">
                <img src="/cms_data/sites/wuyou/themes/default/images/touxiang.png" class="touxiang" />
                <span class="name_class over"><b>骷髅架</b></span>
                <p>接单数：295</p>
                <p>
                    客户好评率：
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing_2.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                    <img src="/cms_data/sites/wuyou/themes/default/images/xingxing.png" class="fr" />
                </p>
                <p class="text">三年优化经验！熟悉各大搜索引擎排名机制。优势：1.原创+…</p>
            </li>
        </ul>
    </div>
    <div class="fr seo_paihang">
        <h4>SEO优化师排行榜</h4>
        <ul class="tr_ranking_list">
            <li>
                <a href="" target="_blank">
                    <div class="paiming_img fl">
                        <img src="/cms_data/sites/wuyou/themes/default/images/top_1.png" alt="" />
                    </div>
                    <div class="li_pic">
                        <img src="/cms_data/sites/wuyou/themes/default/images/touxiang.png" alt="" width="100%" height="100%" />
                    </div>
                    <p class="li_tit">
                        <span class="tit">零点</span>
                    </p>
                    <p class="li_jdt">
                        <span>达标率</span>
                        <span class="po"><em style="width:89.00%;"></em></span>
                        <span class="pt">89%</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <div class="paiming_img fl">
                        <img src="/cms_data/sites/wuyou/themes/default/images/top_2.png" alt="" />
                    </div>
                    <div class="li_pic">
                        <img src="/cms_data/sites/wuyou/themes/default/images/touxiang.png" alt="" width="100%" height="100%" />
                    </div>
                    <p class="li_tit">
                        <span class="tit">草根香蕉皮</span>
                    </p>
                    <p class="li_jdt">
                        <span>达标率</span>
                        <span class="po"><em style="width:87.00%;"></em></span>
                        <span class="pt">87%</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <div class="paiming_img fl">
                        <img src="/cms_data/sites/wuyou/themes/default/images/top_3.png" alt="" />
                    </div>
                    <div class="li_pic">
                        <img src="/cms_data/sites/wuyou/themes/default/images/touxiang.png" alt="" width="100%" height="100%" />
                    </div>
                    <p class="li_tit">
                        <span class="tit">匆匆阿胡</span>
                    </p>
                    <p class="li_jdt">
                        <span>达标率</span>
                        <span class="po"><em style="width:86.00%;"></em></span>
                        <span class="pt">86%</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <div class="paiming_img fl">
                        <img src="/cms_data/sites/wuyou/themes/default/images/top_4.png" alt="" />
                    </div>
                    <div class="li_pic">
                        <img src="/cms_data/sites/wuyou/themes/default/images/touxiang.png" alt="" width="100%" height="100%" />
                    </div>
                    <p class="li_tit">
                        <span class="tit">gaoxiaokepu</span>
                    </p>
                    <p class="li_jdt">
                        <span>达标率</span>
                        <span class="po"><em style="width:82.00%;"></em></span>
                        <span class="pt">82%</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>

<!--新闻资讯-->
<div class="w_1200 over mt_10">
    <div class="xinwen_tubiao fl">
        <div class="all_tubiao_po">
            <img src="/cms_data/sites/wuyou/themes/default/images/xinwen_tubiao.png" />
            <span>新闻资讯</span>
        </div>
        <a class="fr" href="">更多>></a>
    </div>
    <div class="xinwen_text fl over">
        <div class="ieq_box fl">
            <!--isImg=1-->
            <div class="ieq_first">
                <a href="" target="_blank">
                    <div class="ieq_first_pic">
                        <img src="/cms_data/sites/wuyou/themes/default/images/zixun_banner.png" width="100%" height="100%;" />
                    </div>
                    <p class="ieq_first_title">辨别网站是否参与百度阿拉丁排名结果的几种方式</p>
                    <p class="ieq_first_text">最近小编泡在搜外问答平台也是长知识，各种奇葩的SEO相关问题层出不穷，有些是小编亲身经历过的，有些则是懵懂有疑问的，今天小编看到一个关于百度阿拉丁的问答信息，还是很有必要和各位同行普及分享一下的，因此就总结了一下辨别网站是否参与百度阿拉丁排名结果的几种方式。</p>
                    <p class="ieq_first_text ieq_first_time">2016-10-27</p>
                </a>
            </div>

            <ul class="ieq_ul">
                <li>
                    <a href="" target="_blank">
                        <p class="li_title">2016年网站SEO排名我们到底应该怎么去做呢?</p>
                        <p class="li_time">2016-10-27</p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <p class="li_title">冰桶算法4.5更新：发力打击Landing Page恶劣广告行为</p>
                        <p class="li_time">2016-10-27</p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <p class="li_title">中小企业网站为什么要做优化推广</p>
                        <p class="li_time">2016-10-26</p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <p class="li_title">搜索引擎SEO伪技术你掌握到第几层了?</p>
                        <p class="li_time">2016-10-26</p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <p class="li_title">网站改版后百度为何还在收录死链?</p>
                        <p class="li_time">2016-10-26</p>
                    </a>
                </li>
                <li>
                    <a href="/news/.html" target="_blank">
                        <p class="li_title"></p>
                        <p class="li_time"></p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ieq_box fl">
            <!--isImg=1-->
            <div class="ieq_first">
                <a href="" target="_blank">
                    <div class="ieq_first_pic">
                        <img src="/cms_data/sites/wuyou/themes/default/images/zixun_banner.png" width="100%" height="100%;" />
                    </div>
                    <p class="ieq_first_title">辨别网站是否参与百度阿拉丁排名结果的几种方式</p>
                    <p class="ieq_first_text ieq_first_text_2">最近小编泡在搜外问答平台也是长知识，各种奇葩的SEO相关问题层出不穷，有些是小编亲身经历过的，有些则是懵懂有疑问的，今天小编看到一个关于百度阿拉丁的问答信息，还是很有必要和各位同行普及分享一下的，因此就总结了一下辨别网站是否参与百度阿拉丁排名结果的几种方式。</p>
                    <p class="ieq_first_text ieq_first_time">2016-10-27</p>
                </a>
            </div>

            <ul class="ieq_ul">
                <li>
                    <a href="" target="_blank">
                        <p class="li_title">2016年网站SEO排名我们到底应该怎么去做呢?</p>
                        <p class="li_time">2016-10-27</p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <p class="li_title">冰桶算法4.5更新：发力打击Landing Page恶劣广告行为</p>
                        <p class="li_time">2016-10-27</p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <p class="li_title">中小企业网站为什么要做优化推广</p>
                        <p class="li_time">2016-10-26</p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <p class="li_title">搜索引擎SEO伪技术你掌握到第几层了?</p>
                        <p class="li_time">2016-10-26</p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <p class="li_title">网站改版后百度为何还在收录死链?</p>
                        <p class="li_time">2016-10-26</p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <p class="li_title"></p>
                        <p class="li_time"></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="wenti_text fr">
        <p>常见问题<a class="fr">更多>></a></p>
        <ul>
            <li><a href="">第一课：seo基础入门基础入门基础入门基础入门基础入门基础入门</a></li>
            <li><a href="">第二课：seo基础入门</a></li>
            <li><a href="">第三课：seo基础入门</a></li>
            <li><a href="">第四课：seo基础入门</a></li>
            <li><a href="">第五课：seo基础入门</a></li>
            <li><a href="">第六课：seo基础入门</a></li>
            <li><a href="">第七课：seo基础入门</a></li>
            <li><a href="">第八课：seo基础入门</a></li>
        </ul>
    </div>
</div>