<!--页脚-->
<footer id="footer" class="over">
    <div class="footer w_1200 fix">
        <div class="fw">
            <div class="fix"><i class="xbg_fw"></i><em>新手入门</em></div>
            <ul class="fw_ul fix">
                <li><a href="" target="_blank">商户入门</a></li>
                <li><a href="" target="_blank">优化师入门</a></li>
                <li><a href="" target="_blank">云客规则</a></li>
            </ul> 
        </div>
        <div class="yw">
            <div class="fix"><i class="xbg_py"></i><em>常见问题</em></div>
            <ul class="fw_ul fix">
                <li><a href="" target="_blank">优化师问题</a></li>
                <li><a href="" target="_blank">商户问题</a></li>
                <li><a href="" target="_blank">代理商常见问题</a></li>
                <li><a href="" target="_blank">留言反馈</a></li>
            </ul>
        </div>
        <div class="about">
            <div class="fix"><i class="xbg_rw"></i><em>关于我们</em></div>
            <ul class="fw_ul fix">
                <li><a href="" target="_blank">公司简介</a></li>
                <li><a href="" target="_blank">发展历程</a></li>
                <li><a href="" target="_blank">人才加盟</a></li>
                <li><a href="" target="_blank">联系我们</a></li>
            </ul>
        </div>
        <div class="lx">
            <div class="fix"><i class="xbg_tel"></i><em>联系方式</em></div>
            <ul class="fw_ul fix">
                <li>服务热线：<strong>400-8750-065</strong></li>
                <li class="lx_qq"><a href="" target="_blank"><p style="display: inline-block; float:left;">客服QQ:</p><i class="xbg_qq"></i></a></li>
                <li><a href="mailto:tangsp@jezoe.com">邮箱：tangsp@jezoe.com</a></li>
                <li>地址：浙江省杭州市西湖区文三路90号东部软件园科技广场315-318室</li>
            </ul>
        </div>
        <div class="gf">
            <p class="gf_title">官方手机版</p>
            <img src="/cms_data/sites/wuyou/themes/default/images/gf.png" />
        </div>
        <div class="wx">
            <p class="wx_title">官方公众号</p>
            <img src="/cms_data/sites/wuyou/themes/default/images/wx.png" />
        </div>
    </div>
    <p class="footer_text w_100">©福建吾优信息科技有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;闽ICP备05015740号</p>
</footer>