@{
    var labelCategory = "条件筛选";
}

<div class="renwu_left_tab fl">
    <div class="tiaojian">
        <span class="fl">筛选条件</span>
        <a class="fl" href="javascript:void(0);">按天扣费x</a>
    </div>
    <div class="xuanze_nav_box">
        <ul class="over ul_1">
            <h4>计费方式</h4>
            <li class="fl"><a href="">按天收费</a></li>
        </ul>
        <ul class="over ul_1">
            <h4>搜索引擎</h4>
            <li class="fl"><a href="">百度</a></li>
            <li class="fl"><a href="">谷歌</a></li>
            <li class="fl"><a href="">360</a></li>
            <li class="fl"><a href="">搜狗</a></li>
            <li class="fl"><a href="">百度手机</a></li>
            <li class="fl"><a href="">神马搜索</a></li>
        </ul>
        <ul class="ul_2">
            <h4>所属行业</h4>
            <div class="li_box over li_box_show">
                <li class="fl"><a href="">机械设备</a></li>
                <li class="fl"><a href="">建筑装修</a></li>
                <li class="fl"><a href="">生活服务</a></li>
                <li class="fl"><a href="">机械设备</a></li>
                <li class="fl"><a href="">建筑装修</a></li>
                <li class="fl"><a href="">生活服务</a></li>
                <li class="fl"><a href="">机械设备</a></li>
                <li class="fl"><a href="">建筑装修</a></li>
                <li class="fl"><a href="">生活服务</a></li>
                <li class="fl"><a href="">机械设备</a></li>
                <li class="fl"><a href="">建筑装修</a></li>
                <li class="fl"><a href="">生活服务</a></li>
                <li class="fl"><a href="">建筑装修</a></li>
                <li class="fl"><a href="">生活服务</a></li>
            </div>
            <a class="click_show" href="javascript:void(0);">展开</a>
        </ul>
        <ul class="ul_1">
            <h4>城市区域</h4>
            <div class="li_box over">
                <li class="fl"><a href="">深圳</a></li>
                <li class="fl"><a href="">武汉</a></li>
                <li class="fl"><a href="">南京</a></li>
                <li class="fl"><a href="">天津</a></li>
                <li class="fl"><a href="">杭州</a></li>
                <li class="fl"><a href="">西安</a></li>
                <li class="fl"><a href="">郑州</a></li>
                <li class="fl"><a href="">长沙</a></li>
                <li class="fl"><a href="">安徽</a></li>
                <li class="fl"><a href="">重庆</a></li>
                <li class="fl"><a href="">福建</a></li>
                <li class="fl"><a href="">广东</a></li>
                <li class="fl"><a href="">广西</a></li>
                <li class="fl"><a href="">贵州</a></li>
                <li class="fl"><a href="">甘肃</a></li>
                <li class="fl"><a href="">河北</a></li>
                <li class="fl"><a href="">霞浦</a></li>
            </div>
            <a class="click_show" href="javascript:void(0);">展开</a>
        </ul>
    </div>
</div>