@{
    var labelCategory = "代理加盟";
}

<!--banner-->
<div class="banner_box over">
    <ul class="banner_img bd">
        <li style="display: none;"><a><img src="@Url.FrontUrl().ThemeFileUrl("images/banner.png")"></a></li>
        <li style="display: list-item;"><a><img src="@Url.FrontUrl().ThemeFileUrl("images/banner.png")"></a></li>
        <li style="display: none;"><a><img src="@Url.FrontUrl().ThemeFileUrl("images/banner.png")"></a></li>
    </ul>
    <ul class="banner_yuan over hd">
        <li class="fl"></li>
        <li class="fl on"></li>
        <li class="fl"></li>
    </ul>
    <div class="login_box">
        <div class="login_tab">
            <a>登陆</a>
        </div>
        <div class="login_input">
            <input type="text" placeholder="请输入手机号码">
        </div>
        <div class="login_input login_input_2 over">
            <input class="fl text" type="text" placeholder="请输入手机验证码">
            <input type="button" class="fl button" href="javascript:void(0);" id="btn" value="获取">
        </div>
        <div class="over checked_box">
            <a class="fl checked_button"></a><p class="fl checked_text">已阅读<a href="">本网站协议</a></p>
        </div>
        <a class="login_button">加入我们</a>
    </div>
</div>

<!--代理加盟-->
<div class="w_1200 jiameng_box over">
    <div class="fl">
        <ul class="jiameng_nav">
            <h4><a href="javascript:void(0);" class="style_1">代理介绍</a></h4>
            <h4><a href="javascript:void(0);" class="style_2">云客优势</a></h4>
            <h4><a href="javascript:void(0);" class="style_3">代理政策</a></h4>
            <h4><a href="javascript:void(0);" class="style_4">开通流程</a></h4>
            <h4><a href="javascript:void(0);" class="style_5">申请合作</a></h4>
        </ul>
    </div>
    <div class="fr jiameng_text_box">
        <h2 class="mt_30">公司介绍<b></b></h2>
        <p class="text_i_2 mt_30">云客网（www.yuntask.com）是SEO行业的众包服务平台，对搜索引擎排名前两页的关键词<b>按天扣费</b>的预存式模式。客户在云客网平台上发布任务需求，优化师在云客网平台上接任务将客户的目标网站通过优化技术排名在搜索引擎的前两页，实现在线交易与服务的平台。目前云客网已经上线一年时间，<b>seo优化师规模7000+</b>，并且以800+/月的速度递增，目前已成为了最大的搜索引擎优化技术服务人员集聚平台；<b>客户数量有6000+</b>，分布在72个行业，打造成国内（全球）最大的SEO众包服务交易平台。</p>
        <h2 class="mt_30">为什么选我们<b></b></h2>
        <div class="over xwm_box">
            <a class="fl mr_20">
                <span class="bg_198ede">上万精英优化师</span>
                <p>汇聚全国上万个精英优化师供您选择，云客网通过大数据分析，筛选出最适合帮你做优化的seo优化师！而且在优化过程当中还可以更换技术人员进行筛选。</p>
            </a>
            <a class="fl mr_20">
                <span class="bg_ff6300">上万精英优化师</span>
                <p>汇聚全国上万个精英优化师供您选择，云客网通过大数据分析，筛选出最适合帮你做优化的seo优化师！而且在优化过程当中还可以更换技术人员进行筛选。</p>
            </a>
            <a class="fl mr_20">
                <span class="bg_80d032">上万精英优化师</span>
                <p>汇聚全国上万个精英优化师供您选择，云客网通过大数据分析，筛选出最适合帮你做优化的seo优化师！而且在优化过程当中还可以更换技术人员进行筛选。</p>
            </a>
            <a class="fl">
                <span class="bg_990099">上万精英优化师</span>
                <p>汇聚全国上万个精英优化师供您选择，云客网通过大数据分析，筛选出最适合帮你做优化的seo优化师！而且在优化过程当中还可以更换技术人员进行筛选。</p>
            </a>
        </div>
        <h2 class="mt_30">代理商优势<b></b></h2>
        <h4 class="mt_30">市场大、资源广</h4>
        <p class="mt_10">全国十余个分公司，业务遍布华东，华南，华北，西南，香港台湾，为全国代理伙伴提供优质可靠的服务。同时，我们与com域名注册局verisign保持着十余年的友好合作关系，另外，我们与世界数字信息管理分配中心达成战略合作，确保域名产品的稳定性、合规性和高认可度。</p>
        <h4 class="mt_30">投资少、收益高</h4>
        <p class="mt_10">客户不需要缴纳高额加盟费用，只要满足我们的代理条件，均可成为我们的代理伙伴，我们本着合作双赢的理念，最大限度的让利给合作伙伴，提升利润空间。品质上乘，价格低廉的产品，让代理伙伴只需要小额投资，即可获得高额回报。</p>
        <h4 class="mt_30">风险小、更安全</h4>
        <p class="mt_10">保障代理伙伴的财产和数据安全，一直是我们的为之奋斗的目标，针对域名安全提出的一套安全机制已经上线，提高了广大代理商伙伴的域名财产安全等级，我们的邮箱产品也加载了高级反垃圾，反病毒机制，在同类产品中，安全等级名列前茅。</p>
        <h4 class="mt_30">易操作、活动多</h4>
        <p class="mt_10">简单易用的代理平台，可以视为代理伙伴的自助管理平台，可在此平台内购买种类繁多的域名，主机，邮箱产品，针对发票，个人资料，消费流水查询等操作也非常容易上手；另外，代理伙伴还可参与我们不定期推出的各种优惠活动，享受我们提供的各项利好政策，提高利润。</p>
    </div>
</div>

@Html.FrontHtml().RenderView("SEO.TotalTransaction")