@{
    var labelCategory = "交易合计";
}

<!--交易合计-->
<div class="w_100 jiaoyi_box">
    <div class="w_1200">
        <p class="jiaoyi_zonger fl"><span>交易总额：</span>¥8916777.83</p>
        <div class="fl jiaoyi_text">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/qiandai.png")" class="fl">
            <div class="fl">
                <p>本月佣金：¥177.71万</p>
                <p>本日佣金：¥59667.66</p>
            </div>
        </div>
        <div class="fl jiaoyi_text">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/ren.png")" class="fl">
            <div class="fl">
                <p>优化师数：13952名</p>
                <p>本日佣金：34031名</p>
            </div>
        </div>
        <div class="fl jiaoyi_text">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/bingtu.png")" class="fl">
            <div class="fl">
                <p>网站数：&nbsp;&nbsp;&nbsp;17276个</p>
                <p>关键词数：72520个</p>
            </div>
        </div>
        <a class="jiaoyi_button fr">前往任务大厅</a>
    </div>
</div>