<?xml version="1.0" encoding="utf-8"?>
<ArrayOfUrlKeyMap xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<UrlKeyMap>
		<Key>member~login</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>member~register</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>profile</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>projects</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>fee</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>messages</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
	<UrlKeyMap>
		<Key>team</Key>
		<PageFullName></PageFullName>
	</UrlKeyMap>
</ArrayOfUrlKeyMap>