@{
    var labelCategory = "客户中心";
}

<div class="w_1200 kehu_box over mt_10">
    <div class="fl">
        <ul class="jiameng_nav">
            <h4><a href="javascript:void(0);" class="style_6">关于我们</a></h4>
            <div class="mt_5 mb_5">
                <li class="style"><a href="javascript:void(0);">公司简介</a></li>
                <li><a href="javascript:void(0);">企业文化</a></li>
                <li><a href="javascript:void(0);">发展历程</a></li>
                <li><a href="javascript:void(0);">支付方式</a></li>
                <li><a href="javascript:void(0);">合作渠道</a></li>
                <li><a href="javascript:void(0);">免责声明</a></li>
                <li><a href="javascript:void(0);">人才加盟</a></li>
                <li><a href="javascript:void(0);">媒体报道</a></li>
                <li><a href="javascript:void(0);">联系我们</a></li>
            </div>
            <h4><a href="javascript:void(0);" class="style_7">常见问题</a></h4>
            <div class="mt_5 mb_5">
                <li><a href="javascript:void(0);">SEO优化师</a></li>
                <li><a href="javascript:void(0);">商户</a></li>
                <li><a href="javascript:void(0);">代理商</a></li>
            </div>
            <h4><a href="javascript:void(0);" class="style_8">钱进规则</a></h4>
        </ul>
    </div>
    <div class="fr jiameng_text_box">
        <h2 class="mt_30">公司简介<b></b></h2>
        <div class="fl left_text">
            <p class="text_i_2 mt_30">“云客网，您网站的流量加油站！”云客网（www.yuntask.com）是包含SEO推广等网络营销服务的众包服务平台，由杭州志卓科技股份有限公司国内首创。云客网的母公司杭州志卓在SEO网络营销推广服务领域坚守十年，由于企业的网络营销推广需求巨大，而云客网优化服务人员有限，云客网的模式应运而生。</p>
            <p class="text_i_2 mt_20">目前，仅SEO服务，平台注册优化师已超过万人，并以每月800人以上的速度迅速递增，云客网的优化水平已居行业首位。依托于平台强大的优化师技术团队支撑，平台提供远远低于行业平均水平的收费标准，同时，由云客网平台提供交易，为企业客户的网络营销推广保驾护航。云客网平台已服务商家超过3000家，优化的关键词超过30000多个，获得商家一致好评。</p>
            <p class="text_i_2 mt_20">云客网坚持平台服务定位，通过优化师评级、考核、分成机制的不断完善，努力为优化师团队提供一个公平竞争的绿色平台。我们坚持为企业客户提供按天付费，按结果付费的模式，仅针对搜索引擎排名前两页进行按天付费，两页以外不收费，让企业客户在平台内投入的每一分钱都花到实处。</p>
            <img src="@Url.FrontUrl().ThemeFileUrl("images/kehu_img_1.png")" class="w_100 mt_30">
        </div>
        <div class="fr right_text mr_10">
            <img src="@Url.FrontUrl().ThemeFileUrl("images/kehu_img_2.png")" class="w_100 mt_30">
            <p class="text_i_2 mt_30">杭州志卓拥有“浙江省软件产品认证、浙江省软件企业认证”和“国家高新技术企业认证”以及“杭州市大学生见习基地”、“AAA级信用登记企业”等多重资质，还有近二十项自主版权的软件著作权产品，不断在技术上和应用进行创新和突破，在高速成长的过程中，杭州志卓建立了市场运作体系和客户保障机制，形成了以软件产品开发、咨询规划服务、提供大型行业应用解决方案相结合的技术与业务服务体系。</p>
        </div>
    </div>
</div>

@Html.FrontHtml().RenderView("SEO.TotalTransaction")
