<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-11-09T15:11:46.5419978Z</LastUpdateDate>
	<Body>&lt;!--服务承诺--&gt;
&lt;div class="w_1200 mt_10"&gt;&lt;img src="/cms_data/sites/wuyou/themes/default/images/chengnuofuwu.png" class="w_100" width="1201" height="214" /&gt;&lt;/div&gt;</Body>
	<UUID>Common.Promise</UUID>
	<UserName>admin</UserName>
</HtmlBlock>