@{
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-6">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>欢迎进入后台系统！</h5>
                </div>
                <div class="ibox-content">
                    <h1>欢迎：@(User.Identity.Name)，进入后台系统！</h1>

                    @*<h2 style="color: lightseagreen;">JuCheap 3.0 目的</h2>
                    <p style="color: red;">1.JuCheap 3.0 并非2.0的升级版本，所以购买了2.0和1.0的会员，<span style="color: red;">不能享受到3.0的服务</span>；<span style="color: green">但是可以享受到2.0和1.0的免费升级服务</span>；</p>
                    <p style="color: red;">2.JuCheap 3.0 是为了跨平台，为了我们的用.Net开发的网站可以直接部署在Linux、Mac等其它系统下；</p>
                    <p style="color: red">3.So，我们会将网站框架由以前的Net4.5 ，逐渐迁移到Net Core和EF Core</p>*@
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            
        </div>
    </div>
</div>

