<?xml version="1.0" encoding="utf-8"?>
<HtmlBlock xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2016-11-19T12:53:23.9540245Z</LastUpdateDate>
	<Body>&lt;div class="w_100 sousuo_box"&gt;
&lt;div class="w_1200 over"&gt;&lt;a href="/" class="logo fl"&gt;&lt;img src="/cms_data/sites/wuyou/themes/default/images/logo.png" /&gt;&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;</Body>
	<UUID>Common.HeaderWithLogo</UUID>
	<UserName>admin</UserName>
</HtmlBlock>